# Porta da API
PORT=4000

# String de conexão do Postgres
# Em produção ela é obrigatória.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/criptoinvest

# Segredo para assinatura dos tokens JWT
JWT_SECRET=xvxtRTpUAnbgzg4lwrnuZDcyb8mCM3gWqLdKkfwdFDw=
